In [334]:
import numpy as np

In [161]:
scorecard = {'Names' : 'V Sehwag', 'Dismissal' : 'lbw b Malinga',
            'Runs':0, 'Balls':2, '4s':0, '6s':0, 'SR': 0.00}

In [162]:
scorecard = {'Names' : ['V Sehwag'],
             'Dismissal' : ['lbw b Malinga'],
            'Runs':[0], 
             'Balls':[2], 
             '4s':[0], 
             '6s':[0], 
             'SR':[0.00]}

In [163]:
scorecard = {'Names' : ['V Sehwag', 'SR Tendulkar'],
             'Dismissal' : ['lbw b Malinga', 'c Sangakkara b Malinga'],
            'Runs':[0, 18], 
             'Balls':[2, 14], 
             '4s':[0, 2], 
             '6s':[0, 0], 
             'SR':[0.00, 128.57]}

In [368]:
names = ['V Sehwag','SR Tendulkar','G Gambhir','V Kohli','MS Dhoni','Yuvraj Singh',
        'SK Raina', 'Harbhajan Singh', 'Z Khan', 'MM Patel', 'S Sreesanth']
dismissal = ['lbw b Malinga', 'c Sangakkara b Malinga', 'b Perera', 'c&b Dilshan',
            'not out', 'not out','NA','NA','NA','NA','NA']
runs = [0, 18, 97, 35, 91, 21,None,None,None,None,None]
balls = [2, 14, 122, 49, 79, 24,None,None,None,None,None]
fours = [0, 2, 9, 4, 8, 2,None,None,None,None,None]
six = [0, 0, 0, 0, 2, 0,None,None,None,None,None]
SR = [0.00, 128.57, 79.50, 71.42, 115.18, 87.50,None,None,None,None,None]

scorecard = {'Batsmen':names, 'Dismissal': dismissal, 'Runs':runs,
            'Balls':balls, '4s':fours, '6s':six, 'SR':SR}

In [349]:
scorecard['Batsmen']

['V Sehwag',
 'SR Tendulkar',
 'G Gambhir',
 'V Kohli',
 'MS Dhoni',
 'Yuvraj Singh',
 'SK Raina',
 'Harbhajan Singh',
 'Z Khan',
 'MM Patel',
 'S Sreesanth']

In [350]:
import pandas as pd

In [360]:
scorecard_df = pd.DataFrame(scorecard)
scorecard_df.replace('NA', np.nan, inplace=True)

In [361]:
scorecard_df

            Batsmen               Dismissal  Runs  Balls   4s   6s      SR
0          V Sehwag           lbw b Malinga   0.0    2.0  0.0  0.0    0.00
1      SR Tendulkar  c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
2         G Gambhir                b Perera  97.0  122.0  9.0  0.0   79.50
3           V Kohli             c&b Dilshan  35.0   49.0  4.0  0.0   71.42
4          MS Dhoni                 not out  91.0   79.0  8.0  2.0  115.18
5      Yuvraj Singh                 not out  21.0   24.0  2.0  0.0   87.50
6          SK Raina                     NaN   NaN    NaN  NaN  NaN     NaN
7   Harbhajan Singh                     NaN   NaN    NaN  NaN  NaN     NaN
8            Z Khan                     NaN   NaN    NaN  NaN  NaN     NaN
9          MM Patel                     NaN   NaN    NaN  NaN  NaN     NaN
10      S Sreesanth                     NaN   NaN    NaN  NaN  NaN     NaN

In [353]:
scorecard_df.dropna()

        Batsmen               Dismissal  Runs  Balls   4s   6s      SR
0      V Sehwag           lbw b Malinga   0.0    2.0  0.0  0.0    0.00
1  SR Tendulkar  c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
2     G Gambhir                b Perera  97.0  122.0  9.0  0.0   79.50
3       V Kohli             c&b Dilshan  35.0   49.0  4.0  0.0   71.42
4      MS Dhoni                 not out  91.0   79.0  8.0  2.0  115.18
5  Yuvraj Singh                 not out  21.0   24.0  2.0  0.0   87.50

In [362]:
scorecard_df.dropna(axis = 'index', how='any', subset=['Batsmen'])

            Batsmen               Dismissal  Runs  Balls   4s   6s      SR
0          V Sehwag           lbw b Malinga   0.0    2.0  0.0  0.0    0.00
1      SR Tendulkar  c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
2         G Gambhir                b Perera  97.0  122.0  9.0  0.0   79.50
3           V Kohli             c&b Dilshan  35.0   49.0  4.0  0.0   71.42
4          MS Dhoni                 not out  91.0   79.0  8.0  2.0  115.18
5      Yuvraj Singh                 not out  21.0   24.0  2.0  0.0   87.50
6          SK Raina                     NaN   NaN    NaN  NaN  NaN     NaN
7   Harbhajan Singh                     NaN   NaN    NaN  NaN  NaN     NaN
8            Z Khan                     NaN   NaN    NaN  NaN  NaN     NaN
9          MM Patel                     NaN   NaN    NaN  NaN  NaN     NaN
10      S Sreesanth                     NaN   NaN    NaN  NaN  NaN     NaN

In [363]:
scorecard_df.isna()

    Batsmen  Dismissal   Runs  Balls     4s     6s     SR
0     False      False  False  False  False  False  False
1     False      False  False  False  False  False  False
2     False      False  False  False  False  False  False
3     False      False  False  False  False  False  False
4     False      False  False  False  False  False  False
5     False      False  False  False  False  False  False
6     False       True   True   True   True   True   True
7     False       True   True   True   True   True   True
8     False       True   True   True   True   True   True
9     False       True   True   True   True   True   True
10    False       True   True   True   True   True   True

In [365]:
scorecard_df.fillna('0')

            Batsmen               Dismissal Runs Balls 4s 6s      SR
0          V Sehwag           lbw b Malinga    0     2  0  0       0
1      SR Tendulkar  c Sangakkara b Malinga   18    14  2  0  128.57
2         G Gambhir                b Perera   97   122  9  0    79.5
3           V Kohli             c&b Dilshan   35    49  4  0   71.42
4          MS Dhoni                 not out   91    79  8  2  115.18
5      Yuvraj Singh                 not out   21    24  2  0    87.5
6          SK Raina                       0    0     0  0  0       0
7   Harbhajan Singh                       0    0     0  0  0       0
8            Z Khan                       0    0     0  0  0       0
9          MM Patel                       0    0     0  0  0       0
10      S Sreesanth                       0    0     0  0  0       0

In [370]:
scorecard_df['Runs'].mean()

43.666666666666664

In [369]:
scorecard_df

            Batsmen               Dismissal  Runs  Balls   4s   6s      SR
0          V Sehwag           lbw b Malinga   0.0    2.0  0.0  0.0    0.00
1      SR Tendulkar  c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
2         G Gambhir                b Perera  97.0  122.0  9.0  0.0   79.50
3           V Kohli             c&b Dilshan  35.0   49.0  4.0  0.0   71.42
4          MS Dhoni                 not out  91.0   79.0  8.0  2.0  115.18
5      Yuvraj Singh                 not out  21.0   24.0  2.0  0.0   87.50
6          SK Raina                     NaN   NaN    NaN  NaN  NaN     NaN
7   Harbhajan Singh                     NaN   NaN    NaN  NaN  NaN     NaN
8            Z Khan                     NaN   NaN    NaN  NaN  NaN     NaN
9          MM Patel                     NaN   NaN    NaN  NaN  NaN     NaN
10      S Sreesanth                     NaN   NaN    NaN  NaN  NaN     NaN

In [171]:
scorecard_df['Batsmen']

0            V Sehwag
1        SR Tendulkar
2           G Gambhir
3             V Kohli
4            MS Dhoni
5        Yuvraj Singh
6            SK Raina
7     Harbhajan Singh
8              Z Khan
9            MM Patel
10        S Sreesanth
Name: Batsmen, dtype: object

In [172]:
type(scorecard_df['Batsmen'])

pandas.core.series.Series

In [173]:
scorecard_df.Batsmen  #scorecard_df['Batsmen'] is better

0            V Sehwag
1        SR Tendulkar
2           G Gambhir
3             V Kohli
4            MS Dhoni
5        Yuvraj Singh
6            SK Raina
7     Harbhajan Singh
8              Z Khan
9            MM Patel
10        S Sreesanth
Name: Batsmen, dtype: object

In [174]:
scorecard_df[['Batsmen', 'Runs']]

            Batsmen  Runs
0          V Sehwag   0.0
1      SR Tendulkar  18.0
2         G Gambhir  97.0
3           V Kohli  35.0
4          MS Dhoni  91.0
5      Yuvraj Singh  21.0
6          SK Raina   NaN
7   Harbhajan Singh   NaN
8            Z Khan   NaN
9          MM Patel   NaN
10      S Sreesanth   NaN

In [175]:
scorecard_df.columns

Index(['Batsmen', 'Dismissal', 'Runs', 'Balls', '4s', '6s', 'SR'], dtype='object')

In [176]:
scorecard_df.iloc[0]

Batsmen           V Sehwag
Dismissal    lbw b Malinga
Runs                     0
Balls                    2
4s                       0
6s                       0
SR                       0
Name: 0, dtype: object

In [177]:
scorecard_df.iloc[[0, 1, 2]]

        Batsmen               Dismissal  Runs  Balls   4s   6s      SR
0      V Sehwag           lbw b Malinga   0.0    2.0  0.0  0.0    0.00
1  SR Tendulkar  c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
2     G Gambhir                b Perera  97.0  122.0  9.0  0.0   79.50

In [178]:
scorecard_df.iloc[[0, 1, 2], 2]

0     0.0
1    18.0
2    97.0
Name: Runs, dtype: float64

In [179]:
scorecard_df.loc[0]

Batsmen           V Sehwag
Dismissal    lbw b Malinga
Runs                     0
Balls                    2
4s                       0
6s                       0
SR                       0
Name: 0, dtype: object

In [180]:
scorecard_df.loc[[0, 1, 2, 3, 4], ['Batsmen', 'Dismissal']]

        Batsmen               Dismissal
0      V Sehwag           lbw b Malinga
1  SR Tendulkar  c Sangakkara b Malinga
2     G Gambhir                b Perera
3       V Kohli             c&b Dilshan
4      MS Dhoni                 not out

In [181]:
scorecard_df

            Batsmen               Dismissal  Runs  Balls   4s   6s      SR
0          V Sehwag           lbw b Malinga   0.0    2.0  0.0  0.0    0.00
1      SR Tendulkar  c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
2         G Gambhir                b Perera  97.0  122.0  9.0  0.0   79.50
3           V Kohli             c&b Dilshan  35.0   49.0  4.0  0.0   71.42
4          MS Dhoni                 not out  91.0   79.0  8.0  2.0  115.18
5      Yuvraj Singh                 not out  21.0   24.0  2.0  0.0   87.50
6          SK Raina                       -   NaN    NaN  NaN  NaN     NaN
7   Harbhajan Singh                       -   NaN    NaN  NaN  NaN     NaN
8            Z Khan                       -   NaN    NaN  NaN  NaN     NaN
9          MM Patel                       -   NaN    NaN  NaN  NaN     NaN
10      S Sreesanth                       -   NaN    NaN  NaN  NaN     NaN

In [182]:
scorecard_df.set_index('Batsmen')

                              Dismissal  Runs  Balls   4s   6s      SR
Batsmen
V Sehwag                  lbw b Malinga   0.0    2.0  0.0  0.0    0.00
SR Tendulkar     c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
G Gambhir                      b Perera  97.0  122.0  9.0  0.0   79.50
V Kohli                     c&b Dilshan  35.0   49.0  4.0  0.0   71.42
MS Dhoni                        not out  91.0   79.0  8.0  2.0  115.18
Yuvraj Singh                    not out  21.0   24.0  2.0  0.0   87.50
SK Raina                              -   NaN    NaN  NaN  NaN     NaN
Harbhajan Singh                       -   NaN    NaN  NaN  NaN     NaN
Z Khan                                -   NaN    NaN  NaN  NaN     NaN
MM Patel                              -   NaN    NaN  NaN  NaN     NaN
S Sreesanth                           -   NaN    NaN  NaN  NaN     NaN

In [183]:
scorecard_df.set_index('Batsmen', inplace = True)

In [184]:
scorecard_df

                              Dismissal  Runs  Balls   4s   6s      SR
Batsmen
V Sehwag                  lbw b Malinga   0.0    2.0  0.0  0.0    0.00
SR Tendulkar     c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
G Gambhir                      b Perera  97.0  122.0  9.0  0.0   79.50
V Kohli                     c&b Dilshan  35.0   49.0  4.0  0.0   71.42
MS Dhoni                        not out  91.0   79.0  8.0  2.0  115.18
Yuvraj Singh                    not out  21.0   24.0  2.0  0.0   87.50
SK Raina                              -   NaN    NaN  NaN  NaN     NaN
Harbhajan Singh                       -   NaN    NaN  NaN  NaN     NaN
Z Khan                                -   NaN    NaN  NaN  NaN     NaN
MM Patel                              -   NaN    NaN  NaN  NaN     NaN
S Sreesanth                           -   NaN    NaN  NaN  NaN     NaN

In [185]:
scorecard_df.index

Index(['V Sehwag', 'SR Tendulkar', 'G Gambhir', 'V Kohli', 'MS Dhoni',
       'Yuvraj Singh', 'SK Raina', 'Harbhajan Singh', 'Z Khan', 'MM Patel',
       'S Sreesanth'],
      dtype='object', name='Batsmen')

In [186]:
scorecard_df.loc['V Kohli']

Dismissal    c&b Dilshan
Runs                  35
Balls                 49
4s                     4
6s                     0
SR                 71.42
Name: V Kohli, dtype: object

In [187]:
scorecard_df.loc['V Kohli','Runs']

35.0

In [188]:
#scorecard_df.loc[0]
scorecard_df.iloc[0]

Dismissal    lbw b Malinga
Runs                     0
Balls                    2
4s                       0
6s                       0
SR                       0
Name: V Sehwag, dtype: object

In [189]:
scorecard_df.reset_index(inplace = True)

In [190]:
scorecard_df

            Batsmen               Dismissal  Runs  Balls   4s   6s      SR
0          V Sehwag           lbw b Malinga   0.0    2.0  0.0  0.0    0.00
1      SR Tendulkar  c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
2         G Gambhir                b Perera  97.0  122.0  9.0  0.0   79.50
3           V Kohli             c&b Dilshan  35.0   49.0  4.0  0.0   71.42
4          MS Dhoni                 not out  91.0   79.0  8.0  2.0  115.18
5      Yuvraj Singh                 not out  21.0   24.0  2.0  0.0   87.50
6          SK Raina                       -   NaN    NaN  NaN  NaN     NaN
7   Harbhajan Singh                       -   NaN    NaN  NaN  NaN     NaN
8            Z Khan                       -   NaN    NaN  NaN  NaN     NaN
9          MM Patel                       -   NaN    NaN  NaN  NaN     NaN
10      S Sreesanth                       -   NaN    NaN  NaN  NaN     NaN

In [191]:
scorecard_df['Batsmen'] == 'V Kohli'

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
Name: Batsmen, dtype: bool

In [192]:
fifty_filter = (scorecard_df['Runs'] > 50)
fifty_filter

0     False
1     False
2      True
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
Name: Runs, dtype: bool

In [193]:
scorecard_df[fifty_filter]

     Batsmen Dismissal  Runs  Balls   4s   6s      SR
2  G Gambhir  b Perera  97.0  122.0  9.0  0.0   79.50
4   MS Dhoni   not out  91.0   79.0  8.0  2.0  115.18

In [194]:
scorecard_df[scorecard_df['Runs'] > 50]

     Batsmen Dismissal  Runs  Balls   4s   6s      SR
2  G Gambhir  b Perera  97.0  122.0  9.0  0.0   79.50
4   MS Dhoni   not out  91.0   79.0  8.0  2.0  115.18

In [195]:
scorecard_df.loc[fifty_filter]

     Batsmen Dismissal  Runs  Balls   4s   6s      SR
2  G Gambhir  b Perera  97.0  122.0  9.0  0.0   79.50
4   MS Dhoni   not out  91.0   79.0  8.0  2.0  115.18

In [196]:
scorecard_df.loc[fifty_filter, 'Batsmen']

2    G Gambhir
4     MS Dhoni
Name: Batsmen, dtype: object

In [197]:
runs_SR_filter = (scorecard_df['Runs'] > 20) & (scorecard_df['SR'] > 70.0)
runs_SR_filter_1 = (scorecard_df['Runs'] > 20) | (scorecard_df['SR'] > 70.0)

In [198]:
scorecard_df[runs_SR_filter]

        Batsmen    Dismissal  Runs  Balls   4s   6s      SR
2     G Gambhir     b Perera  97.0  122.0  9.0  0.0   79.50
3       V Kohli  c&b Dilshan  35.0   49.0  4.0  0.0   71.42
4      MS Dhoni      not out  91.0   79.0  8.0  2.0  115.18
5  Yuvraj Singh      not out  21.0   24.0  2.0  0.0   87.50

In [199]:
scorecard_df[runs_SR_filter_1]

        Batsmen               Dismissal  Runs  Balls   4s   6s      SR
1  SR Tendulkar  c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
2     G Gambhir                b Perera  97.0  122.0  9.0  0.0   79.50
3       V Kohli             c&b Dilshan  35.0   49.0  4.0  0.0   71.42
4      MS Dhoni                 not out  91.0   79.0  8.0  2.0  115.18
5  Yuvraj Singh                 not out  21.0   24.0  2.0  0.0   87.50

In [200]:
scorecard_df[~runs_SR_filter_1]

            Batsmen      Dismissal  Runs  Balls   4s   6s   SR
0          V Sehwag  lbw b Malinga   0.0    2.0  0.0  0.0  0.0
6          SK Raina              -   NaN    NaN  NaN  NaN  NaN
7   Harbhajan Singh              -   NaN    NaN  NaN  NaN  NaN
8            Z Khan              -   NaN    NaN  NaN  NaN  NaN
9          MM Patel              -   NaN    NaN  NaN  NaN  NaN
10      S Sreesanth              -   NaN    NaN  NaN  NaN  NaN

In [201]:
scorecard_df.columns

Index(['Batsmen', 'Dismissal', 'Runs', 'Balls', '4s', '6s', 'SR'], dtype='object')

In [202]:
scorecard_df.columns = ['Names', 'Dismisaal', 'R', 'B','4','6','Strike Rate']

In [203]:
scorecard_df

,Names,Dismisaal,R,B,4,6,Strike Rate
0,V Sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00
1,SR Tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57
2,G Gambhir,b Perera,97.0,122.0,9.0,0.0,79.50
3,V Kohli,c&b Dilshan,35.0,49.0,4.0,0.0,71.42
4,MS Dhoni,not out,91.0,79.0,8.0,2.0,115.18
5,Yuvraj Singh,not out,21.0,24.0,2.0,0.0,87.50
6,SK Raina,-,NaN,NaN,NaN,NaN,NaN
7,Harbhajan Singh,-,NaN,NaN,NaN,NaN,NaN
8,Z Khan,-,NaN,NaN,NaN,NaN,NaN
9,MM Patel,-,NaN,NaN,NaN,NaN,NaN
10,S Sreesanth,-,NaN,NaN,NaN,NaN,NaN

In [204]:
scorecard_df.columns = [x.upper() for x in scorecard_df.columns]

In [206]:
scorecard_df

,NAMES,DISMISAAL,R,B,4,6,STRIKE RATE
0,V Sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00
1,SR Tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57
2,G Gambhir,b Perera,97.0,122.0,9.0,0.0,79.50
3,V Kohli,c&b Dilshan,35.0,49.0,4.0,0.0,71.42
4,MS Dhoni,not out,91.0,79.0,8.0,2.0,115.18
5,Yuvraj Singh,not out,21.0,24.0,2.0,0.0,87.50
6,SK Raina,-,NaN,NaN,NaN,NaN,NaN
7,Harbhajan Singh,-,NaN,NaN,NaN,NaN,NaN
8,Z Khan,-,NaN,NaN,NaN,NaN,NaN
9,MM Patel,-,NaN,NaN,NaN,NaN,NaN
10,S Sreesanth,-,NaN,NaN,NaN,NaN,NaN

In [207]:
scorecard_df.columns = scorecard_df.columns.str.replace(' ', '_')

In [208]:
scorecard_df

,NAMES,DISMISAAL,R,B,4,6,STRIKE_RATE
0,V Sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00
1,SR Tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57
2,G Gambhir,b Perera,97.0,122.0,9.0,0.0,79.50
3,V Kohli,c&b Dilshan,35.0,49.0,4.0,0.0,71.42
4,MS Dhoni,not out,91.0,79.0,8.0,2.0,115.18
5,Yuvraj Singh,not out,21.0,24.0,2.0,0.0,87.50
6,SK Raina,-,NaN,NaN,NaN,NaN,NaN
7,Harbhajan Singh,-,NaN,NaN,NaN,NaN,NaN
8,Z Khan,-,NaN,NaN,NaN,NaN,NaN
9,MM Patel,-,NaN,NaN,NaN,NaN,NaN
10,S Sreesanth,-,NaN,NaN,NaN,NaN,NaN

In [209]:
scorecard_df.columns = [x.lower() for x in scorecard_df.columns]

In [210]:
scorecard_df

,names,dismisaal,r,b,4,6,strike_rate
0,V Sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00
1,SR Tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57
2,G Gambhir,b Perera,97.0,122.0,9.0,0.0,79.50
3,V Kohli,c&b Dilshan,35.0,49.0,4.0,0.0,71.42
4,MS Dhoni,not out,91.0,79.0,8.0,2.0,115.18
5,Yuvraj Singh,not out,21.0,24.0,2.0,0.0,87.50
6,SK Raina,-,NaN,NaN,NaN,NaN,NaN
7,Harbhajan Singh,-,NaN,NaN,NaN,NaN,NaN
8,Z Khan,-,NaN,NaN,NaN,NaN,NaN
9,MM Patel,-,NaN,NaN,NaN,NaN,NaN
10,S Sreesanth,-,NaN,NaN,NaN,NaN,NaN

In [218]:
scorecard_df.rename(columns ={'names':'Batsmen', 'r':'Runs','b':'Balls'}, inplace=True)

In [219]:
scorecard_df

,Batsmen,dismisaal,Runs,Balls,4,6,strike_rate
0,V Sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00
1,SR Tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57
2,G Gambhir,b Perera,97.0,122.0,9.0,0.0,79.50
3,V Kohli,c&b Dilshan,35.0,49.0,4.0,0.0,71.42
4,MS Dhoni,not out,91.0,79.0,8.0,2.0,115.18
5,Yuvraj Singh,not out,21.0,24.0,2.0,0.0,87.50
6,SK Raina,-,NaN,NaN,NaN,NaN,NaN
7,Harbhajan Singh,-,NaN,NaN,NaN,NaN,NaN
8,Z Khan,-,NaN,NaN,NaN,NaN,NaN
9,MM Patel,-,NaN,NaN,NaN,NaN,NaN
10,S Sreesanth,-,NaN,NaN,NaN,NaN,NaN

In [221]:
scorecard_df.loc[3] = ['Virat Kohli', 'c & b Dilshan',35, 49,4,0,71.42]

In [222]:
scorecard_df

,Batsmen,dismisaal,Runs,Balls,4,6,strike_rate
0,V Sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00
1,SR Tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57
2,G Gambhir,b Perera,97.0,122.0,9.0,0.0,79.50
3,Virat Kohli,c & b Dilshan,35.0,49.0,4.0,0.0,71.42
4,MS Dhoni,not out,91.0,79.0,8.0,2.0,115.18
5,Yuvraj Singh,not out,21.0,24.0,2.0,0.0,87.50
6,SK Raina,-,NaN,NaN,NaN,NaN,NaN
7,Harbhajan Singh,-,NaN,NaN,NaN,NaN,NaN
8,Z Khan,-,NaN,NaN,NaN,NaN,NaN
9,MM Patel,-,NaN,NaN,NaN,NaN,NaN
10,S Sreesanth,-,NaN,NaN,NaN,NaN,NaN

In [223]:
scorecard_df.loc[2, 'Batsmen'] = 'Gautam Gambhir'

In [224]:
scorecard_df

,Batsmen,dismisaal,Runs,Balls,4,6,strike_rate
0,V Sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00
1,SR Tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57
2,Gautam Gambhir,b Perera,97.0,122.0,9.0,0.0,79.50
3,Virat Kohli,c & b Dilshan,35.0,49.0,4.0,0.0,71.42
4,MS Dhoni,not out,91.0,79.0,8.0,2.0,115.18
5,Yuvraj Singh,not out,21.0,24.0,2.0,0.0,87.50
6,SK Raina,-,NaN,NaN,NaN,NaN,NaN
7,Harbhajan Singh,-,NaN,NaN,NaN,NaN,NaN
8,Z Khan,-,NaN,NaN,NaN,NaN,NaN
9,MM Patel,-,NaN,NaN,NaN,NaN,NaN
10,S Sreesanth,-,NaN,NaN,NaN,NaN,NaN

In [225]:
scorecard_df.at[0, 'Batsmen'] = 'Virender Sehwag'

In [226]:
scorecard_df

,Batsmen,dismisaal,Runs,Balls,4,6,strike_rate
0,Virender Sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00
1,SR Tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57
2,Gautam Gambhir,b Perera,97.0,122.0,9.0,0.0,79.50
3,Virat Kohli,c & b Dilshan,35.0,49.0,4.0,0.0,71.42
4,MS Dhoni,not out,91.0,79.0,8.0,2.0,115.18
5,Yuvraj Singh,not out,21.0,24.0,2.0,0.0,87.50
6,SK Raina,-,NaN,NaN,NaN,NaN,NaN
7,Harbhajan Singh,-,NaN,NaN,NaN,NaN,NaN
8,Z Khan,-,NaN,NaN,NaN,NaN,NaN
9,MM Patel,-,NaN,NaN,NaN,NaN,NaN
10,S Sreesanth,-,NaN,NaN,NaN,NaN,NaN

In [229]:
filt = (scorecard_df['Batsmen'] == 'Z Khan')
scorecard_df[filt]['Batsmen'] = 'Zaheer Khan'

<ipython-input-229-b77287b74b46>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scorecard_df[filt]['Batsmen'] = 'Zaheer Khan'

In [230]:
scorecard_df

,Batsmen,dismisaal,Runs,Balls,4,6,strike_rate
0,Virender Sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00
1,SR Tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57
2,Gautam Gambhir,b Perera,97.0,122.0,9.0,0.0,79.50
3,Virat Kohli,c & b Dilshan,35.0,49.0,4.0,0.0,71.42
4,MS Dhoni,not out,91.0,79.0,8.0,2.0,115.18
5,Yuvraj Singh,not out,21.0,24.0,2.0,0.0,87.50
6,SK Raina,-,NaN,NaN,NaN,NaN,NaN
7,Harbhajan Singh,-,NaN,NaN,NaN,NaN,NaN
8,Z Khan,-,NaN,NaN,NaN,NaN,NaN
9,MM Patel,-,NaN,NaN,NaN,NaN,NaN
10,S Sreesanth,-,NaN,NaN,NaN,NaN,NaN

In [231]:
filt = (scorecard_df['Batsmen'] == 'Z Khan')
scorecard_df.loc[filt, 'Batsmen'] = 'Zaheer Khan'

In [232]:
scorecard_df

,Batsmen,dismisaal,Runs,Balls,4,6,strike_rate
0,Virender Sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00
1,SR Tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57
2,Gautam Gambhir,b Perera,97.0,122.0,9.0,0.0,79.50
3,Virat Kohli,c & b Dilshan,35.0,49.0,4.0,0.0,71.42
4,MS Dhoni,not out,91.0,79.0,8.0,2.0,115.18
5,Yuvraj Singh,not out,21.0,24.0,2.0,0.0,87.50
6,SK Raina,-,NaN,NaN,NaN,NaN,NaN
7,Harbhajan Singh,-,NaN,NaN,NaN,NaN,NaN
8,Zaheer Khan,-,NaN,NaN,NaN,NaN,NaN
9,MM Patel,-,NaN,NaN,NaN,NaN,NaN
10,S Sreesanth,-,NaN,NaN,NaN,NaN,NaN

In [235]:
scorecard_df['Batsmen'] = scorecard_df['Batsmen'].str.lower()

In [236]:
scorecard_df

,Batsmen,dismisaal,Runs,Balls,4,6,strike_rate
0,virender sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00
1,sr tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57
2,gautam gambhir,b Perera,97.0,122.0,9.0,0.0,79.50
3,virat kohli,c & b Dilshan,35.0,49.0,4.0,0.0,71.42
4,ms dhoni,not out,91.0,79.0,8.0,2.0,115.18
5,yuvraj singh,not out,21.0,24.0,2.0,0.0,87.50
6,sk raina,-,NaN,NaN,NaN,NaN,NaN
7,harbhajan singh,-,NaN,NaN,NaN,NaN,NaN
8,zaheer khan,-,NaN,NaN,NaN,NaN,NaN
9,mm patel,-,NaN,NaN,NaN,NaN,NaN
10,s sreesanth,-,NaN,NaN,NaN,NaN,NaN

In [237]:
df = scorecard_df
df['Batsmen'].apply(len)

0     15
1     12
2     14
3     11
4      8
5     12
6      8
7     15
8     11
9      8
10    11
Name: Batsmen, dtype: int64

In [238]:
def update_name(name):
    return name.upper()

In [239]:
df['Batsmen'].apply(update_name)

0     VIRENDER SEHWAG
1        SR TENDULKAR
2      GAUTAM GAMBHIR
3         VIRAT KOHLI
4            MS DHONI
5        YUVRAJ SINGH
6            SK RAINA
7     HARBHAJAN SINGH
8         ZAHEER KHAN
9            MM PATEL
10        S SREESANTH
Name: Batsmen, dtype: object

In [241]:
df['Batsmen'] = df['Batsmen'].apply(update_name)
df

,Batsmen,dismisaal,Runs,Balls,4,6,strike_rate
0,VIRENDER SEHWAG,lbw b Malinga,0.0,2.0,0.0,0.0,0.00
1,SR TENDULKAR,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57
2,GAUTAM GAMBHIR,b Perera,97.0,122.0,9.0,0.0,79.50
3,VIRAT KOHLI,c & b Dilshan,35.0,49.0,4.0,0.0,71.42
4,MS DHONI,not out,91.0,79.0,8.0,2.0,115.18
5,YUVRAJ SINGH,not out,21.0,24.0,2.0,0.0,87.50
6,SK RAINA,-,NaN,NaN,NaN,NaN,NaN
7,HARBHAJAN SINGH,-,NaN,NaN,NaN,NaN,NaN
8,ZAHEER KHAN,-,NaN,NaN,NaN,NaN,NaN
9,MM PATEL,-,NaN,NaN,NaN,NaN,NaN
10,S SREESANTH,-,NaN,NaN,NaN,NaN,NaN

In [242]:
df['Batsmen'] = df['Batsmen'].apply(lambda x: x.lower())
df

,Batsmen,dismisaal,Runs,Balls,4,6,strike_rate
0,virender sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00
1,sr tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57
2,gautam gambhir,b Perera,97.0,122.0,9.0,0.0,79.50
3,virat kohli,c & b Dilshan,35.0,49.0,4.0,0.0,71.42
4,ms dhoni,not out,91.0,79.0,8.0,2.0,115.18
5,yuvraj singh,not out,21.0,24.0,2.0,0.0,87.50
6,sk raina,-,NaN,NaN,NaN,NaN,NaN
7,harbhajan singh,-,NaN,NaN,NaN,NaN,NaN
8,zaheer khan,-,NaN,NaN,NaN,NaN,NaN
9,mm patel,-,NaN,NaN,NaN,NaN,NaN
10,s sreesanth,-,NaN,NaN,NaN,NaN,NaN

In [252]:
#df['4'] = df['4'].dropna().apply(lambda x: x**0.5)

In [254]:
df['Batsmen'].apply(len)

0     15
1     12
2     14
3     11
4      8
5     12
6      8
7     15
8     11
9      8
10    11
Name: Batsmen, dtype: int64

In [255]:
df.apply(len)

Batsmen        11
dismisaal      11
Runs           11
Balls          11
4              11
6              11
strike_rate    11
dtype: int64

In [256]:
len(df['Batsmen'])

11

In [257]:
df.apply(len, axis = 'columns')

0     7
1     7
2     7
3     7
4     7
5     7
6     7
7     7
8     7
9     7
10    7
dtype: int64

In [259]:
df.apply(pd.Series.min)

Batsmen        gautam gambhir
dismisaal                   -
Runs                        0
Balls                       2
4                           0
6                           0
strike_rate                 0
dtype: object

In [260]:
df.apply(pd.Series.max)

Batsmen        zaheer khan
dismisaal          not out
Runs                    97
Balls                  122
4                        9
6                        2
strike_rate         128.57
dtype: object

In [262]:
df.apply(lambda x: x.max())

Batsmen        zaheer khan
dismisaal          not out
Runs                    97
Balls                  122
4                        9
6                        2
strike_rate         128.57
dtype: object

In [263]:
len(2)

TypeError: object of type 'int' has no len()

In [264]:
df.applymap(lambda x: x*2)

,Batsmen,dismisaal,Runs,Balls,4,6,strike_rate
0,virender sehwagvirender sehwag,lbw b Malingalbw b Malinga,0.0,4.0,0.0,0.0,0.00
1,sr tendulkarsr tendulkar,c Sangakkara b Malingac Sangakkara b Malinga,36.0,28.0,4.0,0.0,257.14
2,gautam gambhirgautam gambhir,b Pererab Perera,194.0,244.0,18.0,0.0,159.00
3,virat kohlivirat kohli,c & b Dilshanc & b Dilshan,70.0,98.0,8.0,0.0,142.84
4,ms dhonims dhoni,not outnot out,182.0,158.0,16.0,4.0,230.36
5,yuvraj singhyuvraj singh,not outnot out,42.0,48.0,4.0,0.0,175.00
6,sk rainask raina,--,NaN,NaN,NaN,NaN,NaN
7,harbhajan singhharbhajan singh,--,NaN,NaN,NaN,NaN,NaN
8,zaheer khanzaheer khan,--,NaN,NaN,NaN,NaN,NaN
9,mm patelmm patel,--,NaN,NaN,NaN,NaN,NaN
10,s sreesanths sreesanth,--,NaN,NaN,NaN,NaN,NaN

In [265]:
df

,Batsmen,dismisaal,Runs,Balls,4,6,strike_rate
0,virender sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00
1,sr tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57
2,gautam gambhir,b Perera,97.0,122.0,9.0,0.0,79.50
3,virat kohli,c & b Dilshan,35.0,49.0,4.0,0.0,71.42
4,ms dhoni,not out,91.0,79.0,8.0,2.0,115.18
5,yuvraj singh,not out,21.0,24.0,2.0,0.0,87.50
6,sk raina,-,NaN,NaN,NaN,NaN,NaN
7,harbhajan singh,-,NaN,NaN,NaN,NaN,NaN
8,zaheer khan,-,NaN,NaN,NaN,NaN,NaN
9,mm patel,-,NaN,NaN,NaN,NaN,NaN
10,s sreesanth,-,NaN,NaN,NaN,NaN,NaN

In [266]:
df['Batsmen'].map({'virender sehwag':'Sehwag', 'virat kohli':'Kohli'})

0     Sehwag
1        NaN
2        NaN
3      Kohli
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
Name: Batsmen, dtype: object

In [269]:
df['Batsmen'] = df['Batsmen'].replace({'virender sehwag':'Sehwag', 'virat kohli':'Kohli'})

In [270]:
df['Batsmen']

0              Sehwag
1        sr tendulkar
2      gautam gambhir
3               Kohli
4            ms dhoni
5        yuvraj singh
6            sk raina
7     harbhajan singh
8         zaheer khan
9            mm patel
10        s sreesanth
Name: Batsmen, dtype: object

In [274]:
df.head()

,Batsmen,dismisaal,Runs,Balls,4,6,strike_rate,Boundaries
0,Sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00,0.0
1,sr tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57,2.0
2,gautam gambhir,b Perera,97.0,122.0,9.0,0.0,79.50,9.0
3,Kohli,c & b Dilshan,35.0,49.0,4.0,0.0,71.42,4.0
4,ms dhoni,not out,91.0,79.0,8.0,2.0,115.18,10.0

In [273]:
df['Boundaries'] = df['4'] + df['6']

In [275]:
df.drop(columns = ['4', '6'])

,Batsmen,dismisaal,Runs,Balls,strike_rate,Boundaries
0,Sehwag,lbw b Malinga,0.0,2.0,0.00,0.0
1,sr tendulkar,c Sangakkara b Malinga,18.0,14.0,128.57,2.0
2,gautam gambhir,b Perera,97.0,122.0,79.50,9.0
3,Kohli,c & b Dilshan,35.0,49.0,71.42,4.0
4,ms dhoni,not out,91.0,79.0,115.18,10.0
5,yuvraj singh,not out,21.0,24.0,87.50,2.0
6,sk raina,-,NaN,NaN,NaN,NaN
7,harbhajan singh,-,NaN,NaN,NaN,NaN
8,zaheer khan,-,NaN,NaN,NaN,NaN
9,mm patel,-,NaN,NaN,NaN,NaN
10,s sreesanth,-,NaN,NaN,NaN,NaN

In [279]:
df['Batsmen'] = df['Batsmen'].replace({'Sehwag' : 'Virender Sehwag'})

In [280]:
df['Batsmen'].str.split(' ', expand=True)

            0          1
0    Virender     Sehwag
1          sr  tendulkar
2      gautam    gambhir
3       Kohli       None
4          ms      dhoni
5      yuvraj      singh
6          sk      raina
7   harbhajan      singh
8      zaheer       khan
9          mm      patel
10          s  sreesanth

In [281]:
df[['First_Name', 'Last_Name']] = df['Batsmen'].str.split(' ', expand=True)

In [282]:
df

,Batsmen,dismisaal,Runs,Balls,4,6,strike_rate,Boundaries,First_Name,Last_Name
0,Virender Sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00,0.0,Virender,Sehwag
1,sr tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57,2.0,sr,tendulkar
2,gautam gambhir,b Perera,97.0,122.0,9.0,0.0,79.50,9.0,gautam,gambhir
3,Kohli,c & b Dilshan,35.0,49.0,4.0,0.0,71.42,4.0,Kohli,None
4,ms dhoni,not out,91.0,79.0,8.0,2.0,115.18,10.0,ms,dhoni
5,yuvraj singh,not out,21.0,24.0,2.0,0.0,87.50,2.0,yuvraj,singh
6,sk raina,-,NaN,NaN,NaN,NaN,NaN,NaN,sk,raina
7,harbhajan singh,-,NaN,NaN,NaN,NaN,NaN,NaN,harbhajan,singh
8,zaheer khan,-,NaN,NaN,NaN,NaN,NaN,NaN,zaheer,khan
9,mm patel,-,NaN,NaN,NaN,NaN,NaN,NaN,mm,patel
10,s sreesanth,-,NaN,NaN,NaN,NaN,NaN,NaN,s,sreesanth

In [284]:
df.append({'First_Name' : 'Rishabh'}, ignore_index =True)

,Batsmen,dismisaal,Runs,Balls,4,6,strike_rate,Boundaries,First_Name,Last_Name
0,Virender Sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00,0.0,Virender,Sehwag
1,sr tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57,2.0,sr,tendulkar
2,gautam gambhir,b Perera,97.0,122.0,9.0,0.0,79.50,9.0,gautam,gambhir
3,Kohli,c & b Dilshan,35.0,49.0,4.0,0.0,71.42,4.0,Kohli,None
4,ms dhoni,not out,91.0,79.0,8.0,2.0,115.18,10.0,ms,dhoni
5,yuvraj singh,not out,21.0,24.0,2.0,0.0,87.50,2.0,yuvraj,singh
6,sk raina,-,NaN,NaN,NaN,NaN,NaN,NaN,sk,raina
7,harbhajan singh,-,NaN,NaN,NaN,NaN,NaN,NaN,harbhajan,singh
8,zaheer khan,-,NaN,NaN,NaN,NaN,NaN,NaN,zaheer,khan
9,mm patel,-,NaN,NaN,NaN,NaN,NaN,NaN,mm,patel
10,s sreesanth,-,NaN,NaN,NaN,NaN,NaN,NaN,s,sreesanth
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rishabh,NaN

In [288]:
names = ['WU Tharanga','TM Dilshan']
dismissal = ['c Sehwag b Khan', 'b Harbhajan Singh']
runs = [2, 33]
balls = [20, 49]
fours = [0, 3]
six = [0, 0]
SR = [10.00, 67.34]

scorecard_Srilanka = {'Batsmen':names, 'Dismissal': dismissal, 'Runs':runs,
            'Balls':balls, '4s':fours, '6s':six, 'SR':SR}

In [289]:
scorecard_Srilanka

{'Batsmen': ['WU Tharanga', 'TM Dilshan'],
 'Dismissal': ['c Sehwag b Khan', 'b Harbhajan Singh'],
 'Runs': [2, 33],
 'Balls': [20, 49],
 '4s': [0, 3],
 '6s': [0, 0],
 'SR': [10.0, 67.34]}

In [291]:
Srilanka_df = pd.DataFrame(scorecard_Srilanka)
Srilanka_df

       Batsmen          Dismissal  Runs  Balls  4s  6s     SR
0  WU Tharanga    c Sehwag b Khan     2     20   0   0  10.00
1   TM Dilshan  b Harbhajan Singh    33     49   3   0  67.34

In [301]:
df.rename(columns = {'4':'4s', '6':'6s', 'dismisaal': 'Dismissal','strike_rate':'SR'}, inplace=True)
df.drop(columns=['Boundaries', 'First_Name', 'Last_Name'], inplace=True)

In [302]:
df

            Batsmen               Dismissal  Runs  Balls   4s   6s      SR
0   Virender Sehwag           lbw b Malinga   0.0    2.0  0.0  0.0    0.00
1      sr tendulkar  c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
2    gautam gambhir                b Perera  97.0  122.0  9.0  0.0   79.50
3             Kohli           c & b Dilshan  35.0   49.0  4.0  0.0   71.42
4          ms dhoni                 not out  91.0   79.0  8.0  2.0  115.18
5      yuvraj singh                 not out  21.0   24.0  2.0  0.0   87.50
6          sk raina                       -   NaN    NaN  NaN  NaN     NaN
7   harbhajan singh                       -   NaN    NaN  NaN  NaN     NaN
8       zaheer khan                       -   NaN    NaN  NaN  NaN     NaN
9          mm patel                       -   NaN    NaN  NaN  NaN     NaN
10      s sreesanth                       -   NaN    NaN  NaN  NaN     NaN

In [313]:
df = df.append(Srilanka_df, ignore_index = True)

In [314]:
df

            Batsmen               Dismissal  Runs  Balls   4s   6s      SR
0   Virender Sehwag           lbw b Malinga   0.0    2.0  0.0  0.0    0.00
1      sr tendulkar  c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
2    gautam gambhir                b Perera  97.0  122.0  9.0  0.0   79.50
3             Kohli           c & b Dilshan  35.0   49.0  4.0  0.0   71.42
4          ms dhoni                 not out  91.0   79.0  8.0  2.0  115.18
5      yuvraj singh                 not out  21.0   24.0  2.0  0.0   87.50
6          sk raina                       -   NaN    NaN  NaN  NaN     NaN
7   harbhajan singh                       -   NaN    NaN  NaN  NaN     NaN
8       zaheer khan                       -   NaN    NaN  NaN  NaN     NaN
9          mm patel                       -   NaN    NaN  NaN  NaN     NaN
10      s sreesanth                       -   NaN    NaN  NaN  NaN     NaN
11      WU Tharanga         c Sehwag b Khan   2.0   20.0  0.0  0.0   10.00
12       TM Dilshan       b Harbhajan Singh  33.0   49.0  3.0  0.0   67.34

In [315]:
df.drop(index = [6,7,8,9,10])

            Batsmen               Dismissal  Runs  Balls   4s   6s      SR
0   Virender Sehwag           lbw b Malinga   0.0    2.0  0.0  0.0    0.00
1      sr tendulkar  c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
2    gautam gambhir                b Perera  97.0  122.0  9.0  0.0   79.50
3             Kohli           c & b Dilshan  35.0   49.0  4.0  0.0   71.42
4          ms dhoni                 not out  91.0   79.0  8.0  2.0  115.18
5      yuvraj singh                 not out  21.0   24.0  2.0  0.0   87.50
11      WU Tharanga         c Sehwag b Khan   2.0   20.0  0.0  0.0   10.00
12       TM Dilshan       b Harbhajan Singh  33.0   49.0  3.0  0.0   67.34

In [318]:
filt = df['Dismissal'] == '-'
df.drop(index = df[filt].index)

            Batsmen               Dismissal  Runs  Balls   4s   6s      SR
0   Virender Sehwag           lbw b Malinga   0.0    2.0  0.0  0.0    0.00
1      sr tendulkar  c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
2    gautam gambhir                b Perera  97.0  122.0  9.0  0.0   79.50
3             Kohli           c & b Dilshan  35.0   49.0  4.0  0.0   71.42
4          ms dhoni                 not out  91.0   79.0  8.0  2.0  115.18
5      yuvraj singh                 not out  21.0   24.0  2.0  0.0   87.50
11      WU Tharanga         c Sehwag b Khan   2.0   20.0  0.0  0.0   10.00
12       TM Dilshan       b Harbhajan Singh  33.0   49.0  3.0  0.0   67.34

In [320]:
df.sort_values(by='Runs',ascending = False)

            Batsmen               Dismissal  Runs  Balls   4s   6s      SR
2    gautam gambhir                b Perera  97.0  122.0  9.0  0.0   79.50
4          ms dhoni                 not out  91.0   79.0  8.0  2.0  115.18
3             Kohli           c & b Dilshan  35.0   49.0  4.0  0.0   71.42
12       TM Dilshan       b Harbhajan Singh  33.0   49.0  3.0  0.0   67.34
5      yuvraj singh                 not out  21.0   24.0  2.0  0.0   87.50
1      sr tendulkar  c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
11      WU Tharanga         c Sehwag b Khan   2.0   20.0  0.0  0.0   10.00
0   Virender Sehwag           lbw b Malinga   0.0    2.0  0.0  0.0    0.00
6          sk raina                       -   NaN    NaN  NaN  NaN     NaN
7   harbhajan singh                       -   NaN    NaN  NaN  NaN     NaN
8       zaheer khan                       -   NaN    NaN  NaN  NaN     NaN
9          mm patel                       -   NaN    NaN  NaN  NaN     NaN
10      s sreesanth                       -   NaN    NaN  NaN  NaN     NaN

In [321]:
df.sort_values(by=['Runs', 'Balls'],ascending = False)

            Batsmen               Dismissal  Runs  Balls   4s   6s      SR
2    gautam gambhir                b Perera  97.0  122.0  9.0  0.0   79.50
4          ms dhoni                 not out  91.0   79.0  8.0  2.0  115.18
3             Kohli           c & b Dilshan  35.0   49.0  4.0  0.0   71.42
12       TM Dilshan       b Harbhajan Singh  33.0   49.0  3.0  0.0   67.34
5      yuvraj singh                 not out  21.0   24.0  2.0  0.0   87.50
1      sr tendulkar  c Sangakkara b Malinga  18.0   14.0  2.0  0.0  128.57
11      WU Tharanga         c Sehwag b Khan   2.0   20.0  0.0  0.0   10.00
0   Virender Sehwag           lbw b Malinga   0.0    2.0  0.0  0.0    0.00
6          sk raina                       -   NaN    NaN  NaN  NaN     NaN
7   harbhajan singh                       -   NaN    NaN  NaN  NaN     NaN
8       zaheer khan                       -   NaN    NaN  NaN  NaN     NaN
9          mm patel                       -   NaN    NaN  NaN  NaN     NaN
10      s sreesanth                       -   NaN    NaN  NaN  NaN     NaN

In [325]:
df[['First','Last']] = df['Batsmen'].str.split(' ', expand = True)

In [326]:
df

,Batsmen,Dismissal,Runs,Balls,4s,6s,SR,First,Last
0,Virender Sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00,Virender,Sehwag
1,sr tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57,sr,tendulkar
2,gautam gambhir,b Perera,97.0,122.0,9.0,0.0,79.50,gautam,gambhir
3,Kohli,c & b Dilshan,35.0,49.0,4.0,0.0,71.42,Kohli,None
4,ms dhoni,not out,91.0,79.0,8.0,2.0,115.18,ms,dhoni
5,yuvraj singh,not out,21.0,24.0,2.0,0.0,87.50,yuvraj,singh
6,sk raina,-,NaN,NaN,NaN,NaN,NaN,sk,raina
7,harbhajan singh,-,NaN,NaN,NaN,NaN,NaN,harbhajan,singh
8,zaheer khan,-,NaN,NaN,NaN,NaN,NaN,zaheer,khan
9,mm patel,-,NaN,NaN,NaN,NaN,NaN,mm,patel
10,s sreesanth,-,NaN,NaN,NaN,NaN,NaN,s,sreesanth
11,WU Tharanga,c Sehwag b Khan,2.0,20.0,0.0,0.0,10.00,WU,Tharanga
12,TM Dilshan,b Harbhajan Singh,33.0,49.0,3.0,0.0,67.34,TM,Dilshan

In [330]:
df.sort_values(by=['First', 'Last'], ascending = [False, True], inplace=True)

In [332]:
df.sort_index()

,Batsmen,Dismissal,Runs,Balls,4s,6s,SR,First,Last
0,Virender Sehwag,lbw b Malinga,0.0,2.0,0.0,0.0,0.00,Virender,Sehwag
1,sr tendulkar,c Sangakkara b Malinga,18.0,14.0,2.0,0.0,128.57,sr,tendulkar
2,gautam gambhir,b Perera,97.0,122.0,9.0,0.0,79.50,gautam,gambhir
3,Kohli,c & b Dilshan,35.0,49.0,4.0,0.0,71.42,Kohli,None
4,ms dhoni,not out,91.0,79.0,8.0,2.0,115.18,ms,dhoni
5,yuvraj singh,not out,21.0,24.0,2.0,0.0,87.50,yuvraj,singh
6,sk raina,-,NaN,NaN,NaN,NaN,NaN,sk,raina
7,harbhajan singh,-,NaN,NaN,NaN,NaN,NaN,harbhajan,singh
8,zaheer khan,-,NaN,NaN,NaN,NaN,NaN,zaheer,khan
9,mm patel,-,NaN,NaN,NaN,NaN,NaN,mm,patel
10,s sreesanth,-,NaN,NaN,NaN,NaN,NaN,s,sreesanth
11,WU Tharanga,c Sehwag b Khan,2.0,20.0,0.0,0.0,10.00,WU,Tharanga
12,TM Dilshan,b Harbhajan Singh,33.0,49.0,3.0,0.0,67.34,TM,Dilshan

In [333]:
df['Batsmen'].sort_values()

3               Kohli
12         TM Dilshan
0     Virender Sehwag
11        WU Tharanga
2      gautam gambhir
7     harbhajan singh
9            mm patel
4            ms dhoni
10        s sreesanth
6            sk raina
1        sr tendulkar
5        yuvraj singh
8         zaheer khan
Name: Batsmen, dtype: object